@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.el-button {
  background-color: var(--el-button-bg-color);
}

.el-button.transparent {
  background-color: transparent;
}

input::selection {
  color: white;
  background-color: #318dfe;
}

.el-icon {
  cursor: pointer;
}